@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    --app-light-bg: #ffffff;
}

body {
  background: var(--app-dark-bg);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.main-container{
  margin: 0px auto;
  padding: 25px;
  border-radius: 5px;
}

.data-input, .contact-zone{    
  padding: 20px 0;
  margin: 30px 0;    
  height: 70px;
}

.data-input > h1, .contact-zone > h3 {    
  padding: 10px 0;
  text-align: center;
  font-size: 25px;   
  color: var(--app-light-bg); 
}

.data-input{
  color:var(--app-light-bg);
  text-align: center;    
}

.input-control{
  background-color: var(--app-dark-bg); 
  color: rgb(170, 160, 160) !important;
}

.contact-item{
  color: white;
  background-color: var(--app-dark-bg);
  border-radius: 5px;
  width: 33%;   
  margin-top: 10px;
}

button{
  background-color: var(--app-green);
  color   : var(--app-light-bg);
  font-size: 15px; 
}

.contact-zone{
  padding: 5px;
  margin: 5px;
}